.header {
  height: 50px;
  border: 1px solid black;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.trys {
  font-size: 25px;
  padding: 10px;
  color: #000000;
}
