{
  "extends": [
    "plugin:flowtype/recommended",
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "flowtype",
    "prettier",
    "react",
    "jsx-a11y",
    "import",
    "flow"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  // "retainLines": true,
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "new-cap": [
      2,
      {
        "capIsNewExceptions": [
          "Map",
          "List"
        ]
      }
    ],
    "no-console": 0,
    "arrow-parens": 0,
    "import/no-extraneous-dependencies": 0
  }
}