h4.lista-titutlos {
  text-align: center;
  font-size: 1.5em;
  margin-top: 8%;
}

img.img_css {
  height: 180px;
  display: block;
  margin: 0 auto;
}

.titulo {
  font-size: 1.5em;
  text-align: center;
}

.button_area {
  color: #ffffff;
  background-color: #9957cd;
  border: 1px solid #1f6fb1;
  border-radius: 27px;
  margin: 0 1em;
  padding: 0.5em 0.75em;
}
