.app-auth-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  position: relative;
}

.app-auth {
  background: $main-color;
  border-radius: 5px; // margin-top: 80px;
  margin: 18vh 0;
  height: auto;
  padding: 20px;
  width: 400px;
}

.auth-title {
  color: $brand-white;
  text-align: center;
  padding-bottom: 15px;
}

.app-auth__msg {
  animation: appearMsg 0.6s ease forwards;
  bottom: -80px;
  position: fixed;
  right: 0;
  z-index: 10;
}

@keyframes appearMsg {
  to {
    bottom: 0;
  }
}

.app-auth__btn {
  background: $btn-bg-color;
  border-color: $btn-bg-color;
  border-style: solid;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px;
  color: $btn-font-color;
  width: 100%;
  &:hover,
  &:focus {
    background: darken($btn-bg-color, 10%);
    border-color: darken($btn-bg-color, 10%);
  }
}
