.page-header {
  align-items: center;
  background: $header-bg;
  color: $header-font-color;
  position: relative;
  padding: $header-padding-y $header-padding-x;
}

.page-header__logo {
  align-items: center;
  display: flex;
  margin-bottom: 0;
  .logo-text {
    padding-right: 15px;
  }
  .App-logo {
    animation: App-logo-spin infinite 7s linear;
    height: 50px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 544px) {
  .navbar-collapse {
    position: absolute;
    right: 0;
    margin-right: $header-padding-x;
  }
}