.app-signup-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  height: auto;
}

.app-signup {
  background: $main-color;
  margin-top: 80px;
  height: auto;
  padding: 15px;
  width: 400px;
}