memoryheader {
  height: 50px;
  border: 1px solid black;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.title {
  font-size: 25px;
  padding: 10px;
  color: #000000;
}

.reset_button {
  position: absolute;
  left: 12px;
  top: 138px;
}
