.button_Game {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  background-color: #9957cd;
  color: #fff;
  border: 4px solid #7630ad;
  border-radius: 15px;
  padding: 0.9em 1.75em;
  font-size: 24px;
  margin-top: 10px;
}
