$main-color: #6dbcdb;
$secondary-color: #fc4349;
$brand-black: #2c3e50;
$brand-white: #ffffff;
// header vars
$header-bg: $main-color;
$header-font-color: $brand-white;
$header-padding-x: 1.5rem;
$header-padding-y: 0.6rem;
// Auth
$btn-font-color: $brand-white;
$btn-bg-color: $brand-black;